/*  global Variabels
-------------------------------------------------------------------------------------------- */
/*  Colors
------------------------------------------------------------- */
$hr-primary: #f6007f;
$hr-primary-light: #ffb6dc;
$hr-primary-dark: #470026;
$hr-secondary: #99ff56;
$hr-secondary-light: lighten($hr-secondary, 80%);
$hr-secondary-dark: darken($hr-secondary, 50%);
$white: #fff;
$gray-light: #dfdfdf;
$gray-dark: #333;

$yellow: #f6f200;
$yellow-light: lighten($yellow, 42%);
$yellow-dark: #cfc207;
$orange: #ff7300;
$orange-light: #ffd1b3;
$orange-dark: #2e1306;
$red: #f60015;
$red-light: lighten($red, 43%);
$red-dark: darken($red, 40%);
$lime: #acf600;
$lime-light: lighten($lime, 35%);
$lime-dark: #1f2e0d;
$purple: #a200ff;
$purple-light: lighten($purple, 38%);
$purple-dark: darken($purple, 42%);
$pink: #ff00ff;
$pink-light: lighten($pink, 40%);
$pink-dark: darken($pink, 35%);
$lips: #ff006a;
$lips-light: lighten($lips, 43%);
$lips-dark: #2c0817;
$green: #00b828;
$green-light: lighten($green, 40%);
$green-dark: #0f2417;
$blue: #0000ff;
$blue-light: #c3eeff;
$blue-dark: #000035;
$turquoise: #00ffea;
$turquoise-light: lighten($turquoise, 40%);
$turquoise-dark: darken($turquoise, 42%);

/*  Typography
------------------------------------------------------------- */
$page-background: #000f18;

/*  Typography
------------------------------------------------------------- */
$font-family: 'Quicksand', Calibri, Arial, Helvetica, sans-serif;
$font-family-headline: 'Comfortaa', cursive;
$font-color: #fff;
$font-color-headlines: #fff;
$font-size-default: 16px;
$font-light: #fff;
$link-text: $hr-primary;
$link-text-hover: $hr-primary-light;

/*  forms
------------------------------------------------------------- */
$form-item-padding: 0.6rem 1rem;
$form-item-border-radius: 1.5rem;
$form-item-border-color: $pink-light;
$form-item-background: rgba($pink-light, 0.1);
$form-item-text-color: $font-color;

/*  breakpoints
------------------------------------------------------------- */
// Small tablets and large smartphones (landscape view)
$screen-xs-min: 420px;
// Small tablets (portrait view)
$screen-sm-min: 640px;
// Small tablets (portrait view)
$screen-md-min: 960px;
// Tablets and small desktops
$screen-lg-min: 1200px;
// Large tablets and desktops
$screen-xl-min: 1600px;
