.alert {
    background-color: $yellow-light;
    color: $gray-dark;
    font-size: 0.94rem;
    font-weight: 500;
    border: 1px solid $yellow-dark;
    padding: 0.3rem 0.8rem;
    border-radius: 15px;
}