[type='text'],
[type='password'],
textarea,
select {
    padding: $form-item-padding;
    margin: 0;
    box-sizing: border-box;
    font-size: $font-size-default;
    font-family: $font-family;
    line-height: 1rem;
    color: $form-item-text-color;
    border-style:double;
    border-width: 4px;
    border-color: $form-item-border-color;
    border-radius: $form-item-border-radius;
    background-color: $form-item-background;
    transition: box-shadow 0.3s, color 0.3s, border 0.3s;
}
[type='text']:focus,
[type='password']:focus,
textarea:focus,
select:focus {
    border-style: solid;
    box-shadow:
    0 0 3px $pink,
    0 0 10px $pink-light;
    transition: box-shadow 0.3s, color 0.3s, border 0.3s;
}
input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: inherit !important;
    color: inherit !important;
}
label {
    font-family: $font-family-headline;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    color: $pink-light;
    margin: 0 0 4px 1rem;
    padding: 0;
}
