@import '../global/global';

/*  global  basic styles
-------------------------------------------------------------------------------------------- */
body {
    font-family: $font-family;
    font-size: $font-size-default;
    line-height: 1.4;
    color: $font-color;
    text-rendering: optimizeSpeed;
}
:focus {
    outline: 0;
}
p {
    margin: 7px 0 0 0;

    &:first-child {
        margin-top: 0;
    }
}

/*  Lists
----------------------------------------------------------------- */
ol,
ul {
    list-style: none;
}

/*  blockquote
----------------------------------------------------------------- */
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/*  links
----------------------------------------------------------------- */
a,
.text-link {
    color: $link-text;
    text-decoration: none;
    transition: color 0.3s;
}
a:hover,
a:active,
.text-link:hover,
.text-link:active {
    color: $link-text-hover;
    text-decoration: none;
    transition: color 0.3s;
}

/*  tables
----------------------------------------------------------------- */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  headlines
----------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-headline;
    color: $font-color-headlines;
    padding: 0;
    margin: 0 0 1em 0;
}
h1, .h1 {
    font-size: 2.222rem;
    font-weight: 200;
    letter-spacing: 0.06rem;
    // 40px
}
h2, .h2 {
    font-size: 2rem;
    font-weight: 200;
    // 36px
}
h3, h3 {
    font-size: 1.556rem;
    // 28px
}
h4, .h4 {
    font-size: 1.222rem;
    // 22px
}
h5, .h5 {
    font-size: 1.111rem;
    // 20px
}
h6, .h6 {
    font-size: 1rem;
    // 18px
    text-transform: uppercase;
    letter-spacing: 0.06rem;
}
.font-neon {
    font-family: 'NEONLove', sans-serif;
    color: $pink-light;
    text-shadow:
        0 0 7px $pink-light,
        0 0 10px $pink-light,
        0 0 21px $pink-light,
        0 0 42px $pink,
        0 0 82px $pink,
        0 0 92px $pink,
        0 0 102px $pink,
        0 0 151px $pink;
}
.font-glitch {
    font-family: 'Rubik Glitch', sans-serif;
}
.uppercase {
    text-transform: uppercase;
}
